spring:
  datasource:
    url: jdbc:mysql://146.56.96.107:3306/shift_db?serverTimezone=GMT&characterEncoding=UTF-8&autoReconnect=true
    username: shift
    password: shift123!
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true
        enable_lazy_load_no_trans: true
        default_batch_fetch_size: 100
  data:
    web:
      pageable:
        default_page-size: 10
        max-page-size: 100
logging.level:
  root: info
  org.hibernate.SQL: debug
